<form [formGroup]="teamForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label>Ranking position:
      <input class="form-control" formControlName="rankingPosition">
    </label>
  </div>
  <div class="form-group">
    <label>Nationality:
      <input class="form-control" formControlName="nationality">
    </label>
  </div>
  <button class="btn btn-default" type="submit">Save</button>
</form>
